Salut {{ email }} C'est bientot finie ! encore un petit formulaire

{# example, assuming you have a route named "login" we also need to change url localhost #}
cliquez pour reset votre mot de passe : <a href="http://localhost:8000{{ path('form_reset_password')}}">ici</a>.

Thanks!
